h1 {
    
    border-style: solid;
    border-color: rgb(139, 106, 255);
    border-radius: 20px;
    
    border-width: 5px;
    text-align: center;
}

body {
    text-align: center;
}

p, h1, h2 {
    color: white;
}